:root {
    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text colors */
    --main-txt-cl: #555555; 
    --accent-txt-cl:#9747FF; 
}

body {
font-family: var(--primary-font);
font-size: 16px;
line-height: 1,5;
letter-spacing: 0,02em;
color: var(--main-txt-cl);
font-style: normal;
font-weight: 400;
}

/* Reset */
.link {
text-decoration: none;
}
.list {
list-style: none;
}

/* Header */
.header {

}

.header-nav {

}

.header-logo {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;
}

.header-list {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 261px;
height: 24px;
left: 347px;
top: 24px;
}

.header-list-link:hover,
.header-list-link:focus {
color: var(--accent-txt-cl);
}

.header-address {

}

.header-address-link {
position: absolute;
width: 153px;
height: 24px;
left: 940px;
top: 24px;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;

color: #434455;
}

.header-address-tel {
position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;

font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: #434455;
}

/* Section 1 */
.hero {
position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;
background-color: #434455;
}

.hero-item {

position: absolute;
width: 496px;
height: 120px;
left: 472px;
top: 260px;

font-weight: 700;
font-size: 56px;
line-height: 60px;

text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.hero-btn {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
background-color: #9747FF;
}

/* Section 2 */
.about {

}


.about-title {
width: 264px;
height: 24px;

font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}

.about-description {
width: 264px;
height: 72px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}

