:root {
    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text colors */
    --main-txt-cl: #555555; 
    --accent-txt-cl:#9747FF; 
}

body {
font-family: var(--primary-font);
font-size: 16px;
line-height: 1,5;
letter-spacing: 0,02em;
color: #434455;
background-color: #FFFFFF;
font-style: normal;
font-weight: 400;
}

/* Reset */
.link {
text-decoration: none;
}
.link.hover,
.link.focus {
    color: #404bbf;
}

.list {
list-style: none;
}

/* Header */

.header-logo {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0,03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
letter-spacing: 0.03em;

}
.color-dark {
   color: #2E2F42;
}

.header-list {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 261px;
height: 24px;
left: 347px;
top: 24px;
}

.header-list-link:hover,
.header-list-link:focus {
color: #404bbf;
}
.header-list-link {
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}
.header-address {
font-style: normal;
}

.header-address-link {
position: absolute;
width: 153px;
height: 24px;
left: 940px;
top: 24px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
color: #434455;

line-height: 1.5;

}
.header-address-link.hover,
.header-address-link.focus {
    color: #404bbf;
}

.header-address-tel {
position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;

font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: #434455;
font-weight: 400;
}

/* Section 1 */
.hero {
position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;
background-color: #2e2f42;
}
.hero-item {
position: absolute;
width: 496px;
height: 120px;
left: 472px;
top: 260px;
font-weight: 700;
font-size: 56px;
line-height: 60px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.hero-btn {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
font-family: Roboto, sans-serif;
position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;

}
.hero-btn:hover,
.hero-btn:focus {
background-color: #404BBF;
}

/* Section 2 */

.about-title {
width: 264px;
height: 24px;

font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}

.about-description {
width: 264px;
height: 72px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;

}

/* Section 3 */

.we-do {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
position: absolute;
width: 323px;
height: 40px;
left: 559px;
top: 1016px;
}

.we-do-img1 {
    position: absolute;
    width: 360px;
    height: 300px;
    left: 156px;
    top: 1128px;
}
.we-do-img2 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 540px;
top: 1128px;
}
.we-do-img3 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 924px;
top: 1128px;
}

/* Section 4 */

.team {
    background-color: #F4F4FD;
}
.team-title {
    position: absolute;
width: 162px;
height: 40px;
left: 639px;
top: 1668px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-photo {
    position: absolute;
width: 264px;
height: 380px;
left: 156px;
top: 1780px;
mix-blend-mode: normal;
flex: none;
order: 0;
flex-grow: 0;
}


.profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    position: absolute;
width: 1440px;
height: 312px;
left: 0px;
top: 2280px;
background-color: #2E2F42;
color: #FFFFFF;
}
.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;

}
.color-light {
    color:  #f4f4fd;
}


/* PORTFOLIO */

