:root {
    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text colors */
    --main-txt-cl:  #434455;  
    --accent-txt-cl: #404bbf; 
    --head-txt-cl: #2e2f42; 
    --main-bg-cl: #ffffff;
    --btn-cl: #4d5ae5; 
    --studio-cl: #F4F4FD; 
}

body {
font-family: var(--primary-font);
font-size: 16px;
color: var(--main-txt-cl);
background-color: var(--main-bg-cl);
}

/* Reset */
.link {
text-decoration: none;
}
.link.hover,
.link.focus {
    color: var(--accent-txt-cl);
}

.list {
list-style: none;
text-decoration: none;
}

/* Header */

.header-logo {

font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
text-transform: uppercase;
color: var(--btn-cl);
letter-spacing: 0.03em;

}
.color-dark {
   color: var(--head-txt-cl);
}

.header-list {
display: flex;
flex-direction: row;

padding: 0px;
gap: 40px;

}

.header-list-link:hover,
.header-list-link:focus {
color: var(--accent-txt-cl);
}
.header-list-link {
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--head-txt-cl);

}
.header-address {
font-style: normal;
}

.header-address-link {
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.02em;
color: var(--main-txt-cl);

line-height: 1.5;

}
.header-address-link:hover ,
.header-address-link:focus {
    color: var(--accent-txt-cl);
}

.header-address-tel:hover ,
.header-address-tel:focus {
    color: var(--accent-txt-cl);
}
.header-address-tel {
position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;

font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: var(--main-txt-cl);
font-weight: 400;
}

/* Section 1 */
.hero {

background-color: var(--head-txt-cl);
}
.hero-item {

font-weight: 700;
font-size: 56px;
line-height: 60px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-bg-cl);
}

.hero-btn {
font-family: Roboto, sans-serif;
background-color: var(--btn-cl);

cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--main-bg-cl);

}
.hero-btn:hover,
.hero-btn:focus {
background-color: var(--accent-txt-cl);
}

/* Section 2 */

.about-title {

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--head-txt-cl);
}

.about-description {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-txt-cl);

}

/* Section 3 */

.we-do {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--head-txt-cl);

}


/* Section 4 */

.team {
    background-color: #F4F4FD;
}
.team-list {
    background-color: var(--main-bg-cl);
}
.team-title {
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--head-txt-cl);
}
.team-photo {
    background-color: var(--main-bg-cl);
}


.team-photo-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--head-txt-cl);
}

.profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);

}

.footer {
   
background-color: var(--head-txt-cl);
color: #F4F4FD;
}
.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-cl);
    text-decoration: none;

}
.color-light {
    color: var(--main-bg-cl);
}


/* PORTFOLIO */

.portf-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-cl);
    background-color: #F4F4FD;

}
.portf-btn:hover , 
.portf-btn:focus {
   color: #F4F4FD;
   background-color: var(--accent-txt-cl);
   cursor: pointer;
}

.portf-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--head-txt-cl);

}

.portf-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);


}
.link {
    text-decoration: none;
}